.container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: fit-content;
  height: 31vh;
  border: 1px solid #000;
  margin: 15%;
}
.top {
  width:100%
}
.wheather {
  display: flex;
  justify-content: space-between;
  margin:20px 0 0 20px 
}
.temperature-type {
  margin-right: 20px;
}

.body {
  display: flex;
  margin-left: 20px;
  /* justify-content: center; */
  margin-top: 24px;
}

.h1 {
  font-size: 2.8rem;
  font-weight: 600;
  padding: 0;
}
.h2 {
  font-size: 2rem;
  font-weight: bold;
}
.h3 {
  font-size: 1.5rem;
  cursor: pointer;
}
.h3-active {
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 600;
  text-decoration: underline;
}
.location {
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.90);
  font-weight: 500;
}
.content-center {
  display: flex;
  justify-content: center;
}